<div class="container-fluid">
  <div class="container-fluid">
<div class="about-section">
  <h1>About Us!</h1>
  <p>We are the best solution to babysitting.</p>
  <p>We care for the essence and beaty of your child.</p>
  <p>And we understand the Importance of their wellbeing.</p>
</div>
</div>

<div class="container">
<h2 style="text-align:center">Reach On Us!</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="content">
        <h2>Address</h2>
        ---------
        <p>Michenzani Stree, Block No. 6.</p>
        <p>Zanzibar, Tanzania.</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="content">
        <h2>Open Hours</h2>
        ---------
        <p>Sunday - Monday</p>
        <p>06:00 AM - 08:00 PM</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="content">
        <h2>Contacts</h2>
        ---------
        <p>Phone: +255 776 476 751 | +255 624 294 307</p>
        <p>Email: zenjichilddaycare@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<router-outlet></router-outlet>
