<div class="container-fluid"  >
  <div class="col-md-2 mb-4" style="float: right;">
    <div class="form-outline">
      <button [routerLink]="['enroll-list']" type="submit" class="btn btn-success"> View Enroll List</button>
    </div>
  </div>

  <div class="col-md-2 mb-4" style="float: right;">
    <div class="form-outline">
      <button [routerLink]="['enroll-form']" type="submit" class="btn btn-success"> Enroll New Child</button>
    </div>
  </div>


</div>
<router-outlet></router-outlet>

