<form [formGroup] ="CreateEnrollment" (ngSubmit)="submit()">

  <div class="container">
    <h1>Enroll A Child</h1>
    <hr>
    <h2>Child's Information</h2>

    <div class="container" style="background-color: #f1f1f1;">

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="childfname"><b>First Name:</b></label>
          <input type="text" placeholder="Enter First Name" formControlName="ch_Fname"  >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="childlname"><b>Last Name:</b></label>
          <input type="text" placeholder="Enter Last Name" formControlName="ch_Lname" >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="enrollDate"><b>Enroll Date:</b></label>
          <input type="date" formControlName="enroll_Date" >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline mb-4">
          <label for="childgender"><b>Gender:</b></label> <br><br>
          <label class="radio-inline">
            <input type="radio" value="Male" checked formControlName="ch_Gender">Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="Female" formControlName="ch_Gender">Female
          </label>
          <label class="radio-inline">
            <input type="radio" value="Other" formControlName="ch_Gender">Other
          </label>
        </div>
      </div>
    </div>

    <h2>Parent/Guardian's Information</h2>

    <div class="container" style="background-color: #f1f1f1;">

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="parentfname"><b>First Name:</b></label>
          <input type="text" placeholder="Enter First Name" formControlName="pr_Fname">
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="parentlname"><b>Last Name:</b></label>
          <input type="text" placeholder="Enter Last Name" formControlName="pr_Lname" >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="parentaddress"><b>Address:</b></label>
          <input type="text" placeholder="City, Country. " formControlName="address" >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="parentphone"><b>Phone:</b></label>
          <input type="tel" placeholder="Enter Phone" formControlName="phone" >
        </div>
      </div>


     

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="childgender"><b>Gender:</b></label> <br><br>
          <label class="radio-inline">
            <input type="radio" name="prgender" value="Male" checked formControlName="pr_Gender">Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="prgender" value="Female" formControlName="pr_Gender">Female
          </label>
          <label class="radio-inline">
            <input type="radio" name="prgender" value="Other" formControlName="pr_Gender">Other
          </label>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="parentemail"><b>Email:</b></label>
          <input type="email" placeholder="email@example.com" formControlName="email" >
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label for="childlname"><b>Service Category:</b></label>
          <select formControlName="category">
            <option>Choose Service Category</option>
            <option *ngFor="let serve of services, let i = index">{{i+1}}. {{serve.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-2 mb-4" style="float: right;">
        <br>
        <div class="form-outline">
          <button type="submit" class="btn btn-success"> Enroll Child</button>
        </div>
      </div>

      <div class="col-md-2 mb-4"  style="float: right;">
        <br>
        <div class="form-outline">
          <button type="reset" class="btn btn-warning"> Clear All</button>
        </div>
      </div>


    </div>





  </div>
</form>
<router-outlet></router-outlet>
