
<div class="container-fluid">
    <div class="col-md-2 mb-4" style="float: right;">
      <div class="form-outline">
        <button [routerLink]="['babysitters-list']" type="submit" class="btn btn-success"> View Babysitters List</button>
      </div>
    </div>
  
    <div class="col-md-2 mb-4" style="float: right;">
      <div class="form-outline">
        <button [routerLink]="['babysitters-form']" type="submit" class="btn btn-success"> Register New Babysitter</button>
      </div>
    </div>
  
  
  </div>
  
  
  <router-outlet></router-outlet>
  
  