
<div class="container-fluid" >
    <div class="col-md-2 mb-4" style="float: right;">
      <div class="form-outline">
        <button [routerLink]="['services-list']" type="submit" class="btn btn-success"> View Service List</button>
      </div>
    </div>
  
    <div class="col-md-2 mb-4" style="float: right;">
      <div class="form-outline">
        <button [routerLink]="['services-form']" type="submit" class="btn btn-success"> Register New Service</button>
      </div>
    </div>
  
  
  </div>
  
  
  <router-outlet></router-outlet>
  
  